section.concept
  background: #000000
  color: #FFFFFF
  padding-top: 40px
  padding-bottom: 40px
  position: relative
  .textholder
    display: table
    width: 100%
  p
    display: table-cell
    vertical-align: middle
    padding: 10px
    text-align: center
    @include at-breakpoint($tablet)
      max-width: 86%
      font-size: 26px
      line-height: 35px
    @include at-breakpoint($desktop)
      max-width: 1000px
      line-height: 36px