section.concept
  background: #000000
  color: #FFFFFF
  padding-top: 40px
  padding-bottom: 40px
  position: relative
  .textholder
    display: table
    height: 100%
    width: 100%
    margin-left: auto
    margin-right: auto
    @include at-breakpoint($tablet)
      width: 86%
      font-size: 26px
      line-height: 35px
    @include at-breakpoint($desktop)
      width: 1000px
      line-height: 36px
  p
    display: table-cell
    vertical-align: middle
    padding: 10px
    text-align: center