section.gallery
  padding: 100px 0
  background: url("/img/bricks.jpg") no-repeat bottom
  @include at-breakpoint($tablet)
    padding-left: 80px
    padding-right: 80px
  .item
    @include span-columns(3,6)
    @include nth-omega(2n)
    @include clearfix()
    background: #FFFFFF
    margin: 10px 0
    position: relative
    img
      border: 10px solid #fff
      border-bottom: 45px solid #fff
    p
      position: absolute
      text-align: center
      width: 100%
      bottom: 3px
      font-size: 20px
      text-transform: capitalize
      color: #8F8F8F
    @include at-breakpoint($desktop)
      @include span-columns(4,12)
      @include remove-nth-omega(2n)
      @include nth-omega(3n)
    @include at-breakpoint($huge)
      @include span-columns(3,12)
      @include remove-nth-omega(3n)
      @include nth-omega(4n)