section.intro
  padding-top: 40px
  background: url("/img/background-desktop.jpg") no-repeat bottom
  position: relative

  .arrow-holder
    position: absolute
    bottom: 0
    width: 100%
    padding: 20px
  .arrow
    border-top: 27px solid #000000
    border-left: 27px solid rgba(255, 0, 0, 0)
    border-right: 27px solid rgba(255, 0, 0, 0)
    width: 0
    height: 0
    display: block
    margin: 0 auto

