section.stores
  background: url("/img/background-desktop.jpg") no-repeat bottom
  padding: 100px 0
  @include at-breakpoint($tablet)
    padding-left: 80px
    padding-right: 80px
  a
    @include span-columns(3,6)
    @include nth-omega(2n)
    @include clearfix()
    background: #000000
    color: #FFFFFF
    text-align: center
    margin: 10px 0
    position: relative
    // padding-bottom: columns(3,6)
    @include at-breakpoint($desktop)
      @include span-columns(4,12)
      @include remove-nth-omega(2n)
      @include nth-omega(3n)
      // padding-bottom: columns(4,12)
    @include at-breakpoint($huge)
      @include span-columns(3,12)
      @include remove-nth-omega(3n)
      @include nth-omega(4n)
      // padding-bottom: columns(3,12)
    .holder
      width: 100%
      display: table
      .storecontent
        display: table-cell
        padding: 0 10px
        text-align: center
        vertical-align: middle
        text-transform: capitalize
        font-size: 20px
        @include at-breakpoint($tablet)
          padding: 0 20px
    img
      display: block
      margin: 0 auto
      margin-bottom: 11px