---
title: Arti.Zen
body_class: index
---
.section_holder
  %section.intro.h100
    %header
      .container
        .logowrapper
          %img.logo{src: "/img/logo-black.svg"}
      %nav
        .container
          %img.nav-logo{src: "/img/logo-white.svg"}
          %ul.mobilenav
            %li
              %a#menu-toggle Meny
          %ul.main-menu
            %li
              %a{href: "#concept", navigate: "#concept"} Vår vison
            %li
              %a{href: "#gallery", navigate: "#gallery"} Galleri
            %li
              %a{href: "#stores", navigate: "#stores"} Butiker & öppettider
    .arrow-holder
      %a.arrow{href: "#concept", navigate: "#concept"}

  %section.concept#concept.h100
    .textholder.hp100
      %p
        Our mission is to create the leading franchised chain of trendy stores specializing in quality well designed gift, stationery & frame products across Sweden and the Nordic countries. Positioned above Gallerix and Ahlens. Provides a touch of luxury for our customers which they can afford. They will immediately think of Arti.Zen when they need to get a gift, cards, school and stationery products and of course frames. (Our self owned stores are prototypes to generate more franchisee sign ups and crystalized our concepts for future landlords.) Basically, we need to be market leaders in concept, customer (store) experience and product mix - so that landlords and cus- tomers want us, and not the other way around.
    .arrow-holder
      %a.arrow.white{href: "#gallery", navigate: "#gallery"}
  %section.gallery#gallery.mh100
    .container
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p Premium frames
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p TunaPark store
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p Premium frames
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p TunaPark store
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p Premium frames
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p TunaPark store
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p Gränden Concept Store
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p Premium frames
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p TunaPark store
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p Premium frames
      %div.item
        %img{src: "/img/canvas.jpg"}
        %p Gränden Concept Store
  %section.stores#stores.mh100
    .container
      %a.hew.storeloader{href: "#", data: {id: 1}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Stenungsund
      %a.hew.storeloader{href: "#", data: {id: 2}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Ikano
      %a.hew.storeloader{href: "#", data: {id: 3}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Jönköping
      %a.hew.storeloader{href: "#", data: {id: 4}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Väla
      %a.hew.storeloader{href: "#", data: {id: 5}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Helsingborg
      %a.hew.storeloader{href: "#", data: {id: 6}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Eurostop
      %a.hew.storeloader{href: "#", data: {id: 7}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Eskilstuna City
      %a.hew.storeloader{href: "#", data: {id: 8}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen TunaPark
      %a.hew.storeloader{href: "#", data: {id: 9}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Norrköping
      %a.hew.storeloader{href: "#", data: {id: 10}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Gränden
      %a.hew.storeloader{href: "#", data: {id: 11}}
        .holder.hp100
          .storecontent
            %img{src: "/img/logo-white.svg"}
            %p ArtiZen Huddinge

  %section.footer
    %footer
      %p
        %ul
          %li Artizen Sweden
          %li Exempelgatan 15
          %li 583 23 Linköping
      %img{src: "/img/logo-white.svg"}


#1.popwrap.hide
  .popup
    .popinner
      .text
        %img.logo{src: "/img/logo-white.svg"}
          %span Arti.Zen Test
      .map{data: {lat: "", lng: "", address: "Smalagränd 5", city: "Stockholm", zip: "11139"}}
#2.popwrap.hide
  .popup
    .popinner
      .text
        %img.logo{src: "/img/logo-white.svg"}
          %span Arti.Zen Ikano
      .map{data: {lat: "", lng: "", address: "Västra Svedengatan 7D", city: "Linköping", zip: "58128"}}

.sectionmarker
  %div.active
  %div
  %div
  %div