---
title: Arti.Zen
body_class: index
---
.section_holder
  %section.intro.h100
    %header
      .container
        .logowrapper
          %img.logo{src: "/img/logo-black.svg"}
      %nav
        .container
          %img.nav-logo{src: "/img/logo-white.svg"}
          %ul.mobilenav
            %li
              %a#menu-toggle Meny
          %ul.main-menu
            %li
              %a{href: "#concept", navigate: "#concept"} Vår vison
            %li
              %a{href: "#gallery", navigate: "#gallery"} Galleri
            %li
              %a{href: "#stores", navigate: "#stores"} Butiker & öppettider
            %li
              %a{href: "//www.facebook.com/Arti.Zen.se", target: "_blank"}
                %img{src: "/img/fb-logo.svg"}
            %li
              %a{href: "//instagram.com/artizen", target: "_blank"}
                %img{src: "/img/insta-logo.svg"} 
    .arrow-holder
      %a.arrow{href: "#concept", navigate: "#concept"}

  %section.concept#concept.h100
    .textholder.hp100
      %p
        Arti.Zen. Vad är det? Det är en plats där du hittar en ramverkstad med tillhörande tavlor, ramar, kort och presenter. Vi har produkter som lätt kan kännas igen sedan innan, men som har återuppfunnits med en ny tvist. Just nu arbetar vi för att etablera vårt nya varumärke runt om i Sverige. Vi står för en hantverksmannamässig stolthet. En trendig, exklusiv men samtidigt tillgänglig nish. Våra produkter är på ett kärleksfullt sätt anpassade till dig och din upplevelse av vårt varumärke och våra butiker. Hos oss är enbart du som kund i fokus. Inget annat spelar någon roll. För du är värd det. Förvänta dig att höra mer från oss på Arti.Zen. Du kommer inte att bli besviken. Välkommen att följa med oss på vår resa.
    .arrow-holder
      %a.arrow.white{href: "#storeselect", navigate: "#storeselect"}
  %section.storeselect#storeselect.mh100
    .container
      .first
        %h2 Hitta din Art.Zen butik för kontaktinformation och öppettider
        .storesearch#storesearch
          %span Sök:
          %input.typeahead{placeholder: "Fyll i landskap eller butik", type: "text"}
      .second
        / #the-basics
        /   %input.typeahead{placeholder: "States of USA", type: "text"}
        %img{src: "/img/map.png"}


  / %section.stores#stores.mh100
  /   .container
  /     %a.hew.storeloader{href: "#", data: {id: 1}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Stenungsund
  /     %a.hew.storeloader{href: "#", data: {id: 2}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Ikano
  /     %a.hew.storeloader{href: "#", data: {id: 3}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Jönköping
  /     %a.hew.storeloader{href: "#", data: {id: 4}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Väla
  /     %a.hew.storeloader{href: "#", data: {id: 5}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Helsingborg
  /     %a.hew.storeloader{href: "#", data: {id: 6}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Eurostop
  /     %a.hew.storeloader{href: "#", data: {id: 7}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Eskilstuna City
  /     %a.hew.storeloader{href: "#", data: {id: 8}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen TunaPark
  /     %a.hew.storeloader{href: "#", data: {id: 9}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Norrköping
  /     %a.hew.storeloader{href: "#", data: {id: 10}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Gränden
  /     %a.hew.storeloader{href: "#", data: {id: 11}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Huddinge

  %section.footer
    %footer
      %p
        %ul
          %li Artizen Sweden
          %li Exempelgatan 15
          %li 583 23 Linköping
      %img{src: "/img/logo-white.svg"}


#1.popwrap.hide
  .popup
    .popinner
      .text
        %img.logo{src: "/img/logo-white.svg"}
          %span Arti.Zen Test
      .map{data: {lat: "", lng: "", address: "Smalagränd 5", city: "Stockholm", zip: "11139"}}
#2.popwrap.hide
  .popup
    .popinner
      .text
        %img.logo{src: "/img/logo-white.svg"}
          %span Arti.Zen Ikano
      .map{data: {lat: "", lng: "", address: "Västra Svedengatan 7D", city: "Linköping", zip: "58128"}}

.sectionmarker
  %div.active
  %div
  %div
  %div