---
title: Arti.Zen
body_class: index
---
.section-holder
  %section.intro.h100#intro
    %header
      .container
        .logowrapper
          %img.logo{src: "/img/logo-black.svg"}
      %nav
        .container
          %img.nav-logo{src: "/img/logo-white.svg"}
          %ul.mobilenav
            %li
              %a#menu-toggle Meny
          %ul.main-menu
            %li
              %a{href: "#concept"} Vår vison
            %li
              %a{href: "#stores"} Butiker & öppettider
            %li
              %a{href: "//www.facebook.com/Arti.Zen.se", target: "_blank"}
                %img{src: "/img/fb-logo.svg"}
            %li
              %a{href: "//instagram.com/artizen_sverige", target: "_blank"}
                %img{src: "/img/insta-logo.svg"} 
    .arrow-holder
      %a.arrow{href: "#concept"}

  %section.concept#concept.mh100
    .textholder.center
      %p
        Arti.Zen är en butik där du hittar en ramverkstad, ett brett utbud av ramar, tavlor kort och presenter. Arti.Zens styrka ligger i att vi har lång erfarenhet inom branschen och är väldigt duktiga på kvalitetsinramning. Därav namnet Arti.Zen där Arti kommer från ordet Artisan som betyder skicklig och stolt hantverkare med lång erfarenhet inom sitt område samt en som alltid strävar efter att bli bättre. Zen är ett Japanskt ord som betyder känsla, vi strävar efter att kunderna ska få en upplevelse när de handlar hos oss. Just nu arbetar vi för etablera vårt varumärke runt om i Sverige, i dagsläget har vi 12 butiker.
    .arrow-holder
      %a.arrow.white{href: "#stores"}

  %section.stores#stores.mh100
    .container
      .first
        %h2 Hitta din Art.Zen butik för kontaktinformation och öppettider
        .storesearch#storesearch
          %span Sök:
          %input.typeahead{placeholder: "Sök på butiksnamn", type: "text"}
      .second
        %img{src: "/img/map.png"}


  / %section.stores#stores.mh100
  /   .container
  /     %a.hew.storeloader{href: "#", data: {id: 1}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Stenungsund
  /     %a.hew.storeloader{href: "#", data: {id: 2}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Ikano
  /     %a.hew.storeloader{href: "#", data: {id: 3}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Jönköping
  /     %a.hew.storeloader{href: "#", data: {id: 4}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Väla
  /     %a.hew.storeloader{href: "#", data: {id: 5}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Helsingborg
  /     %a.hew.storeloader{href: "#", data: {id: 6}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Eurostop
  /     %a.hew.storeloader{href: "#", data: {id: 7}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Eskilstuna City
  /     %a.hew.storeloader{href: "#", data: {id: 8}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen TunaPark
  /     %a.hew.storeloader{href: "#", data: {id: 9}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Norrköping
  /     %a.hew.storeloader{href: "#", data: {id: 10}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Gränden
  /     %a.hew.storeloader{href: "#", data: {id: 11}}
  /       .holder.hp100
  /         .storecontent
  /           %img{src: "/img/logo-white.svg"}
  /           %p ArtiZen Huddinge

  %section.footer#footer
    %footer
      %p
        %ul
          %li Artizen Sweden
          %li Exempelgatan 15
          %li 583 23 Linköping
      %img{src: "/img/logo-white.svg"}


#1.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Eurostop
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Prästvägen 1
          %span 30263 Halmstad
          %span halmstad@artizen.se
          %span 035 - 184420
        %p
          %span Öppettider
          %span Mån: 10.00 - 19.00
          %span Tis: 10.00 - 19.00
          %span Ons: 10.00 - 19.00
          %span Tor: 10.00 - 19.00
          %span Fre: 10.00 - 19.00
          %span Lör: 10.00 - 17.00
          %span Sön: 11.00 - 18.00
          / %span Sön: Stängt
      .map{data: {lat: "", lng: "", address: "Prästvägen 1", city: "Halmstad", zip: "30263"}}
#2.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Gränden
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Nygatan 22
          %span 582 19 Linköping
          %span granden@artizen.se
          %span 013 - 100868
        %p
          %span Öppettider
          %span Mån: 10.00 - 19.00
          %span Tis: 10.00 - 19.00
          %span Ons: 10.00 - 19.00
          %span Tor: 10.00 - 19.00
          %span Fre: 10.00 - 19.00
          %span Lör: 12.00 - 16.00
          %span Sön: 12.00 - 16.00
          / %span Sön: Stängt
      .map{data: {lat: "", lng: "", address: "Nygatan 22", city: "Linköping", zip: "58219"}}
#3.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Helsingborg
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Kullagatan 12
          %span 252 20 helsingborg
          %span helsingborg.city@artizen.se
          %span 042 - 131 488
        %p
          %span Öppettider
          %span Mån: 10.00 - 19.00
          %span Tis: 10.00 - 19.00
          %span Ons: 10.00 - 19.00
          %span Tor: 10.00 - 19.00
          %span Fre: 10.00 - 19.00
          %span Lör: 10.00 - 16.00
          %span Sön: 12.00 - 16.00
          / %span Sön: Stängt
      .map{data: {lat: "", lng: "", address: "Kullagatan 12", city: "helsingborg", zip: "25220"}}
#4.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Huddinge
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Kommunalvägen 8
          %span 141 47 Huddinge
          %span huddinge@artizen.se
          %span 08 - 774 91 10
        %p
          %span Öppettider
          %span Mån: 10.00 - 19.00
          %span Tis: 10.00 - 19.00
          %span Ons: 10.00 - 19.00
          %span Tor: 10.00 - 19.00
          %span Fre: 10.00 - 19.00
          %span Lör: 10.00 - 16.00
          %span Sön: 11.00 - 16.00
      .map{data: {lat: "", lng: "", address: "Kommunalvägen 8", city: "Huddinge", zip: "14147"}}
#5.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Ikano
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Västra Svedengatan 7D
          %span 581 28 Linköping
          %span ikano.linkoping@artizen.se
          %span 013 - 239070
        %p
          %span Öppettider
          %span Mån: 10.00 - 20.00
          %span Tis: 10.00 - 20.00
          %span Ons: 10.00 - 20.00
          %span Tor: 10.00 - 20.00
          %span Fre: 10.00 - 20.00
          %span Lör: 10.00 - 20.00
          %span Sön: 10.00 - 20.00
      .map{data: {lat: "", lng: "", address: "Västra Svedengatan 7D", city: "Linköping", zip: "58128"}}
#6.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Jönköping
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Kompanigaan 1
          %span 553 05 Jönköping
          %span jonkoping@artizen.se
          %span 036 - 351 986
        %p
          %span Öppettider
          %span Mån: 10.00 - 20.00
          %span Tis: 10.00 - 20.00
          %span Ons: 10.00 - 20.00
          %span Tor: 10.00 - 20.00
          %span Fre: 10.00 - 20.00
          %span Lör: 10.00 - 18.00
          %span Lör: 11.00 - 17.00
      .map{data: {lat: "", lng: "", address: "Kompanigaan 1", city: "Jönköping", zip: "55305"}}
#7.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Norrköping
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Drottninggatan 58
          %span 602 32 Norrköping
          %span norrkoping@artizen.se
          %span 011 - 3004470
        %p
          %span Öppettider
          %span Mån: 10.00 - 18.00
          %span Tis: 10.00 - 18.00
          %span Ons: 10.00 - 18.00
          %span Tor: 10.00 - 18.00
          %span Fre: 10.00 - 18.00
          %span Lör: 10.00 - 15.00
          / %span Sön: Stängt
      .map{data: {lat: "", lng: "", address: "Smalagränd 5", city: "Stockholm", zip: "11139"}}
#8.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Stenungsund
        %p
          %span Butikschef: Sven Svensson
        %p
          %span CW Borgsväg 2
          %span 444 31 Stenungsund
          %span stenungsund@artizen.se
          %span 0303 - 80 170
        %p
          %span Öppettider
          %span Mån: 10.00 - 18.00
          %span Tis: 10.00 - 18.00
          %span Ons: 10.00 - 18.00
          %span Tor: 10.00 - 18.00
          %span Fre: 10.00 - 15.00
          %span Lör: 10.00 - 15.00
          %span Sön: Stängt
      .map{data: {lat: "", lng: "", address: "CW Borgsväg 2", city: "Stenungsund", zip: "44431"}}
#9.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Triangeln
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Södra Förstadsgatan 41
          %span 211 43 Malmö
          %span triangeln@artizen.se
          %span 040 - 643 7222
        %p
          %span Öppettider
          %span Mån: 10.00 - 20.00
          %span Tis: 10.00 - 20.00
          %span Ons: 10.00 - 20.00
          %span Tor: 10.00 - 20.00
          %span Fre: 10.00 - 20.00
          %span Lör: 10.00 - 18.00
          %span Sön: 10.00 - 18.00
      .map{data: {lat: "", lng: "", address: "Södra Förstadsgatan 41", city: "Malmö", zip: "21143"}}
#10.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen TunaPark
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Gunborg Nymansväg 2
          %span 632 22 Eskilstuna
          %span tunapark@artizen.se
          %span 016 - 144 938
        %p
          %span Öppettider
          %span Mån: 10.00 - 20.00
          %span Tis: 10.00 - 20.00
          %span Ons: 10.00 - 20.00
          %span Tor: 10.00 - 20.00
          %span Fre: 10.00 - 20.00
          %span Lör: 10.00 - 18.00
          %span Lör: 11.00 - 18.00
      .map{data: {lat: "", lng: "", address: "Gunborg Nymansväg 2", city: "Eskilstuna", zip: "63222"}}
#11.popwrap.hide
  .popup
    .popinner
      / %span.close Stäng
      .text
        %img.logo{alt: "", src: "/img/logo-white.svg"}
        %span Arti.Zen Väla
        %p
          %span Butikschef: Sven Svensson
        %p
          %span Marknadsvägen 9
          %span 260 36 Ödåkra
          %span vala@artizen.se
          %span 042 - 203 435
        %p
          %span Öppettider
          %span Mån: 10.00 - 20.00
          %span Tis: 10.00 - 20.00
          %span Ons: 10.00 - 20.00
          %span Tor: 10.00 - 20.00
          %span Fre: 10.00 - 20.00
          %span Lör: 10.00 - 18.00
          %span Lör: 10.00 - 18.00
      .map{data: {lat: "", lng: "", address: "Marknadsvägen 9", city: "Ödåkra", zip: "26036"}}
.sectionmarker
  %div.active
  %div
  %div
  %div